header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
    /*position: fixed;*/
    width: 100%;
    /*z-index: 1000; */
=======
    position: relative;
    width: 100vw;
    /*z-index: 1000;*/
}

header > div {
    margin-bottom: 2%;
>>>>>>> 7ba296b6d6405c0cadab3ec2d4f6b40b056b9ee5
}

